.ALemonJS-start {
  & * {
    font-family: 'Alibaba PuHuiTi 2.0';
  }

  .alemonjs-container {
    grid-template-rows: repeat(var(--max-row), 1fr);
    max-height: calc(var(--max-row) * 15rem);

    .update-story {
      background: url('@src/assets/images/updateStory.png') no-repeat center center / 100% 100%;

      .update-story-text::after {
        content: 'Update story';
        position: absolute;
        top: -1rem;
        left: 3rem;
        width: max-content;
        font-size: 1.5rem;
        z-index: 1;
        opacity: 0.15;
        font-weight: 700;
        font-family: 'Alimama ShuHeiTi';
      }
    }

    & > div {
      padding-top: 1.45em;
      // padding-left: 1.5em;
    }
  }
}
