.ALemonJS-start {
  --base-text-secondary: #0f0f0f;

  .text-secondary {
    color: var(--base-text-secondary);
  }

  & * {
    font-family: 'Alibaba PuHuiTi 2.0';
  }

  .box-card {
    &:not(.update-story) {
      background: rgba(255, 255, 255, 0.42);
      box-shadow: 0px 0px 8.7px rgba(178, 81, 2, 0.11);
      backdrop-filter: blur(2px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    border-radius: 23px;
    padding: 1.5rem;

    .card-title {
      font-family: 'Alibaba PuHuiTi 2.0';
      font-style: normal;
      font-weight: 250;
      font-size: 1.125rem;
      line-height: 1.75rem;
      color: #0f0f0f;
    }
  }

  .alemonjs-container {
    grid-template-rows: repeat(var(--max-row), 1fr);
    max-height: calc(var(--max-row) * 15rem);

    .update-story {
      background: url('@src/assets/images/updateStory.png') no-repeat center center / 100% 100% !important;

      .update-story-text::after {
        content: 'Update story';
        position: absolute;
        top: -0.5rem;
        left: 4.25rem;
        width: max-content;
        font-size: 1.5rem;
        z-index: 1;
        opacity: 0.15;
        font-weight: 700;
        font-family: 'Alimama ShuHeiTi';
      }
    }

    & > div {
      padding-top: 1.45em;
      // padding-left: 1.5em;
    }
  }

  .tree-card {
    // 根节点
    .tree-node {
      background: #fd8c2f;
      border-radius: 6px;
      font-size: 1rem;
    }
    // 子节点
    .tree-node-children {
      background: rgba(253, 140, 47, 0.31);
      border-radius: 6px;
      font-size: 0.875rem;
    }
    // 孙节点
    .tree-node-grandchildren {
      font-size: 0.75rem;
    }
  }
}
